#social {
  background-color: #f7f4e7;
  margin: 0;
  padding-top: 10px;
  text-align: center;
}

#social p,
a {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}

@keyframes thing {
  0% {
    transform: rotate(0deg);
  }
  1% {
    transform: rotate(9deg);
  }
  2% {
    transform: rotate(0deg);
  }
  3% {
    transform: rotate(-9deg);
  }
  4% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(15deg);
  }
  6% {
    transform: rotate(0deg);
  }
  7% {
    transform: rotate(-15deg);
  }
  8% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#rocket {
  height: 40px;
  margin: 10px auto 0px auto;
  padding-bottom: 10px;
  animation: thing 3s infinite;
  cursor: pointer;
}

@media only screen and (min-width: 800px) {
  #social {
    margin: auto;
    text-align: center;
  }
}
